body {
  height: 100vh;
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
  background-image: linear-gradient(-180deg,black 0%,black 98%);
}

#root {
  color: #fff;
  font-size: 32px;
  font-family: PT Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  /* width: 500px; */
  /* height: 300px; */
  /* background: rgb(34, 34, 34); */
  /* box-shadow: 1px 1px 15px 1px #444444; */
  border-radius: 10px;
  padding: 15px
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}